.root {
    --verde:#009e0f;
    --negro: #000000;
    --blanco: #fff;
    --rojo: #fe0000;
}
body{

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;

}

.bugfind{

   font-size:47pt;
   color:#009e0f

}

.pregunta{

   font-size:10pt;
   color:#009e0f

}

.cortador{
   font-size:8pt;
   color:#000000
}

.tabla{
   font-size:6pt;
   color:#000000
}