.root {
    --verde:#009e0f;
    --negro: #000000;
    --blanco: #fff;
    --rojo: #fe0000;
}
body{

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;

}

.conteiner{
    position:absolute;
    top:3.50in;
    left:3.47in;
    width:3.42in;
    line-height:0.57in;
}

.logo-text{
    font-size:47pt;
    color: #009e0f;
}

.container-dos{
    position:absolute;
    top:7.25in;
    left:0.38in;
    width:0.64in;
    line-height:0.19in;
}
 .cortador{
    font-size:10pt;
    color:#000000;
 }

 .img-ci_1{
    position:absolute;
    top:5.22in;
    left:7.30in;
    width:5.30in;
    height:4.16in
 }

 .programador{
    font-size:6pt;
    color:#000000;
 }

 .nota{
    position:absolute;
    top:5.25in;
    left:8.31in;
    width:0.28in;
    line-height:0.08in;
 }

 .nota-text{
    font-size:6pt;
    color:#000000;
 }

 .text-pedro{
    position:absolute;
    top:5.46in;
    left:7.46in;
    width:0.36in;
    line-height:0.08in;
 }

 .pedro {
    font-size:6pt;
    color:#000000;
 }


.img-ci_2{
   position:absolute;
   top:5.49in;
   left:8.31in;
   width:0.12in;
   height:0.13in
}

.img-ci_3{
   position:absolute;
   top:5.49in;
   left:8.33in;
   width:0.13in;
   height:0.11in
}

.text-juan{
   position:absolute;
   top:5.76in;
   left:7.46in;
   width:0.28in;
   line-height:0.08in;
}

.juan{
   font-size:6pt;
   color:#000000;
}

.img-ci_4{
   position:absolute;
   top:5.79in;
   left:8.31in;
   width:0.12in;
   height:0.13in;
}

.img-ci_5{
   position:absolute;
   top:5.78in;
   left:8.33in;
   width:0.13in;
   height:0.11in;
}

.text-carlos{
   position:absolute;
   top:6.05in;
   left:7.46in;
   width:0.41in;
   line-height:0.08in;
}

.carlos{
   font-size:6pt;
   color:#000000;
}

.img-ci_6{
   position:absolute;
   top:6.09in;
   left:8.31in;
   width:0.12in;
   height:0.13in;
}

.text-juanita{
   position:absolute;
   top:6.35in;
   left:7.46in;
   width:0.42in;
   line-height:0.08in;
}

.juanita{
   font-size:6pt;
   color:#000000;
}

.img-ci_7{
   position:absolute;
   top:6.38in;
   left:8.31in;
   width:0.12in;
   height:0.13in;
}

.text-antonio{
   position:absolute;
   top:6.65in;
   left:7.46in;
   width:0.47in;
   line-height:0.08in;
}

.antonio{
   font-size:6pt;
   color:#000000;

}

.img-ci_8{
   position:absolute;
   top:6.68in;
   left:8.31in;
   width:0.12in;
   height:0.13in
}

.img-ci_9{
   position:absolute;
   top:6.67in;
   left:8.33in;
   width:0.13in;
   height:0.11in
}

.text-carolina{
   position:absolute;top:6.94in;left:7.46in;width:0.52in;line-height:0.08in;
}

.carolina{
   font-size:6pt;
   color:#000000;
}

.img-ci_10{
   position:absolute;
   top:6.97in;
   left:8.31in;
   width:0.12in;
   height:0.13in;
}

.text-manuel{
   position:absolute;
   top:7.24in;
   left:7.46in;
   width:0.44in;
   line-height:0.08in;
}

.manuel{
   font-size:6pt;
   color:#000000;
}

.img-ci_11{
   position:absolute;
   top:7.27in;
   left:8.31in;
   width:0.12in;
   height:0.13in;
}

.img-ci_12{
   position:absolute;top:5.28in;left:8.76in;width:1.89in;height:2.20in

}

.img-ci_13{
   position:absolute;top:5.28in;left:8.76in;width:1.89in;height:2.20in
}

.img-ci_14{
   position:absolute;top:5.41in;left:8.76in;width:1.89in;height:2.20in

}

.img-ci_15{
   position:absolute;top:5.70in;left:8.76in;width:1.89in;height:2.20in

}

.img-ci_16{
   position:absolute;top:6.00in;left:8.76in;width:1.89in;height:2.20in

}

.img-ci_17{
   position:absolute;top:6.29in;left:8.76in;width:1.89in;height:2.20in

}

.img-ci_18{

}
.img-ci_19{

}

.img-ci_20{

}

.img-ci_21{

}